.wp-block-gregius-query-taxonomy {
    display: flex;
    gap: var(--wp--preset--spacing--2);

    .wp-block-query-filter-taxonomy__select {
        min-width: 100%;
    }

    .wp-block-query-filter-taxonomy__checkboxes {
        flex: 1 1 100%;
        display: flex;
        flex-direction: column;
        gap: var(--wp--preset--spacing--1);

        .wp-block-query-filter-taxonomy__checkbox-item {
            display: flex;
            flex-direction: row;
            gap: var(--wp--preset--spacing--2);

            label {
                display: flex;
                align-items: center;
                cursor: pointer;
            }

            input[type="checkbox"] {
                // margin: 0;
                // height: 1.25em;
                // width: 1.25em;
                // align-self: center;
            }
        }
    }
}