@import "../../assets/src/styles/base/breakpoints";

.wp-block-rp-offcanvas {
	display: flex !important;
	align-items: center;
	align-self: stretch;
	justify-content: center;

	@media screen and (max-width: 600px) {
		// 660px seems to be the core/navigation breakpoint
		display: flex !important;
	}

	button {
		all: unset;
		cursor: pointer;
	}

	.offcanvas-icon {
		width: 25px;
		height: 25px;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 4px 0;

		.offcanvas-line {
			display: block;
			height: 3px;
			background-color: var(--wp--preset--color--dark);
			transition: all 0.3s ease;

			&.line1 {
				transform-origin: center;
				margin-top: 5px;
			}

			&.line2 {
				transform-origin: center;
				margin-bottom: 5px;
			}
		}
	}


	.modal {
		position: fixed;
		z-index: 30;
		left: 0;
		top: 0;
		width: 100vw;
		height: 100vh;
		overflow: auto;
		background-color: rgba(0, 0, 0, 0.4);

		.modal-content {
			background-color: #fff;
			margin: 15% auto;
			border: 1px solid #888;
			max-width: calc(1100px - 10rem);
			width: 100%;
			max-width: 510px;
			height: auto;
			max-height: 80vh;
			overflow-y: auto;
			display: flex;
			flex-direction: column;
			border-radius: 4px;

			.modal--close-button {
				align-self: flex-end;
				width: 40px;
				height: 40px;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			.content-container {
				display: flex;
				flex-direction: column;
				height: 100%;
				padding: 1.25rem;
				gap: 0.75rem;
				overflow-y: auto;

				.content-container {
					padding: 1rem;

					h3.heading.rich-text {
						font-size: 20px;
						font-weight: 600;
						padding: unset;
					}

					p a:not(.button) {
						border-bottom: 0.1rem dotted #666;
						color: #34711e;
						font-weight: 700;
						text-decoration: none;
						position: relative;
					}

					.block-editor-block-list__block.wp-block {
						margin-bottom: 1rem;
					}
				}
			}
		}
	}

	// Blocks
	.wp-block-navigation {
		&.is-vertical {
			.wp-block-navigation__container {
				width: 100%;
			}

			.wp-block-navigation-submenu {

				// Override any hover styles that might open submenus
				&:hover,
				&:focus-within {
					.wp-block-navigation__submenu-container {
						display: block;
					}
				}
			}
		}
	}
}