// Forms
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
input[type="week"],
input:not([type]),
textarea,
select {
  box-sizing: border-box;
  padding: 0.9em .9em;
  border: 0.1rem solid var(--wp--custom--colors--dark);
  border-radius: 0.15em;
  //background-color: transparent;
  box-shadow: none;
  appearance: none;
  width: 100%;
  font-size: .875rem;
  ;


  &:focus {
    outline: 0;
  }
}

select {
  // appearance: auto;
  appearance: none;
  /* Chrome, Safari */
  -webkit-appearance: none;
  /* Safari */
  -moz-appearance: none;
  /* Firefox */
  background: white;
  width: auto;

  &[multiple] {
    height: auto;
    background: none;
  }

  // Custom arrow using the accordion chevron SVG
  background-image: url("../../images/svgs/chevron-down.svg");
  background-repeat: no-repeat;
  background-position: right 0.9em center;
  background-size: 1.5em 1.5em;
  /* Make room for the arrow */
  padding-right: 2.5em;

  /* Hide arrow for multiple selects */
  &[multiple] {
    background-image: none;
    padding-right: 1.2em;
  }
}

select:focus {
  outline: 0;
}

textarea {
  min-height: 6.5rem;
}

textarea:focus {
  outline: 0;
}

label,
legend {
  font-size: inherit;
}

fieldset {
  padding: 0;
  border-width: 0;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
}

input[type="checkbox"] {
  margin: 0;
  height: 1.25em;
  width: 1.25em;
  align-self: center;
}

.label-inline {
  display: inline-block;
  margin-left: 0.5rem;
  font-weight: 400;
}


// Custom styles for specific form elements
.wp-block-search {
  input[type="search"] {
    border: unset;
  }
}

// Gravity Forms styles
.gform_wrapper {
  width: 100%;
}

.gform_wrapper.gravity-theme input[type=color],
.gform_wrapper.gravity-theme input[type=date],
.gform_wrapper.gravity-theme input[type=datetime-local],
.gform_wrapper.gravity-theme input[type=datetime],
.gform_wrapper.gravity-theme input[type=email],
.gform_wrapper.gravity-theme input[type=month],
.gform_wrapper.gravity-theme input[type=number],
.gform_wrapper.gravity-theme input[type=password],
.gform_wrapper.gravity-theme input[type=search],
.gform_wrapper.gravity-theme input[type=tel],
.gform_wrapper.gravity-theme input[type=text],
.gform_wrapper.gravity-theme input[type=time],
.gform_wrapper.gravity-theme input[type=url],
.gform_wrapper.gravity-theme input[type=week],
.gform_wrapper.gravity-theme select,
.gform_wrapper.gravity-theme textarea {
  border-radius: .25rem;
}

.gform_button {
  padding: var(--wp--preset--spacing--3) var(--wp--preset--spacing--4);
  box-sizing: border-box;
  line-height: 1;
  color: #ffffff !important;
  transition: background-color var(--wp--custom--transitions--single-property);
  border-radius: var(--wp--custom--border--radius--small);
  border-width: var(--wp--custom--border--width--medium);
  border-style: var(--wp--custom--border--style--solid);
  border-color: transparent;
  font-weight: 600;
  background-color: var(--wp--preset--color--navy) !important;
  font-size: var(--wp--preset--font-size--small) !important;
}