<!-- wp:template-part {"slug":"site-header","theme":"riapress","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"},"padding":{"top":"var:preset|spacing|6","bottom":"var:preset|spacing|6"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:0;padding-top:var(--wp--preset--spacing--6);padding-bottom:var(--wp--preset--spacing--6)"><!-- wp:post-featured-image {"height":"60vh","align":"full"} /-->

  <!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|6","bottom":"var:preset|spacing|6"}}},"layout":{"type":"constrained"}} -->
  <div class="wp-block-group alignfull" style="padding-top:var(--wp--preset--spacing--6);padding-bottom:var(--wp--preset--spacing--6)"><!-- wp:post-title {"level":1,"fontSize":"x-large"} /-->

    <!-- wp:post-terms {"term":"category"} /-->

    <!-- wp:post-content {"layout":{"type":"constrained"}} /--></div>
  <!-- /wp:group -->

  <!-- wp:post-terms {"term":"post_tag"} /-->

  <!-- wp:post-author {"showBio":true,"isLink":true} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"site-footer","theme":"riapress","tagName":"footer"} /-->